*, *:after, *:before { 

	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
body, html { 
	padding: 0; margin: 0;
}


body {
	font-family: Arial, sans-serif;
	color:black;
	}

a {
	color: #888;
	text-decoration: none;
}


@media screen and (max-width: 25em) {

	.np-icon span {
		display: none;
	}

}
